[Desktop Entry]
Icon=text-html
Name=C language syntal manual 1998
Type=Link
URL[$e]=https://www.microsoft.com/en-us/research/wp-content/uploads/1998/01/pal-manual.pdf
